.navbar {
    padding: 0.2rem 1rem;
    z-index: 999999;
}



.dropdown-toggle, .dropdown-item {
    cursor: pointer;
    text-decoration: none;
}
img.img-avatar {
    max-width: 65px;
    border: 2px solid white;
    display: inline;
}

img.img-logo {
    max-height: 65px;
    display: inline;
}

.navbar-app-name {
    font-size: 1rem;
    color: white;
    margin: 0 auto;
    width: fit-content;
}

.img-logo {
    margin: 0 auto;
}


.navbar-nav {
    display: flex;
        width: 25%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        transform: translateX(24%);
        
}

.nav-item {
    transform: scale(1);
    transition: all 0.3s;
}

.nav-item:hover {
    transform: scale(1.1);
}

@media (max-width: 991.11px) {
    .welcome-message {
        display: none;
    }
    .navbar-logo {
        margin: 0 !important;
    }
    .navbar-app-name {
        display: none;
    }
  
    .navbar-nav {
        transform: translateX(0);
    }
    .dropdown-menu {
        display: none;
    }
}

@media (max-width: 767px) {
    .dropdown-menu {
        position: absolute;
        right: 200px;
    }
    .navbar-nav {
        width: 40%;
        margin: 0 !important;
    }
}

@media (max-width: 410px) {
    img.img-avatar { 
        width: 50px;
    }
    
    img.img-logo {
        display: none;
    }

    .navbar-nav {
        transform: translateX(-10%);
        width: 70%;
    }

    i {
        font-size: 24px;
    }
}

@media(max-width:294px) {
    .navbar-nav {
        transform: translateX(-20%);
        width: 55%;
    }
}