.navbar {
    padding: 0.2rem 1rem;
    z-index: 1000;
}



.dropdown-toggle, .dropdown-item {
    cursor: pointer;
    text-decoration: none;
}
img.img-avatar {
    max-width: 50px;
    border: 2px solid white;
    display: inline;
}

img.img-logo {
    max-height: 50px;
    display: inline;
}

.navbar-app-name {
    font-size: 1rem;
    color: white;
    margin: 0 auto;
    width: fit-content;
}

.img-logo {
    margin: 0 auto;
    transform: scale(1);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.img-logo:hover {
    transform: scale(1.1);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

img.img-logo-small {
    display: none;
}


.navbar-nav {
    display: flex;
        width: 25%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        transform: translateX(10%);
        align-self: center;
        justify-self: center;
        
}

.nav-item {
    transform: scale(1);
    transition: all 0.3s;
}

.nav-item:hover {
    transform: scale(1.1);
    
}



.sign-in-button {
    display: none;
}

@media (max-width: 991.11px) {
    .welcome-message {
        display: none;
    }
    .navbar-logo {
        margin: 0 !important;
    }
    .navbar-app-name {
        display: none;
    }
  
    .navbar-nav {
        transform: translateX(-25%);
    }
    .dropdown-menu {
        display: none;
    }
}

@media (max-width: 767px) {
    img.img-logo-big {
        display: none;
    }

    img.img-logo-small {
        display: block;
    }

    .dropdown-menu {
        position: absolute;
        right: 200px;
    }
    .navbar-nav {
        width: 40%;
        transform: translateX(0%);
        margin: 0 !important;
    }
    .hover-text {
        display: none;
    }

    .login-form {
        display: none;
    }

    .sign-in-button {
        display: block;
    }
}

@media (max-width: 410px) {
    img.img-avatar { 
        width: 40px;
        margin-right: 4px !important;
    }

    .sign-in-button {
        margin: 0 1rem;
    }
    
    img.img-logo {
        width: 40px;
    }

    .navbar-nav {
        /* transform: translateX(-10%); */
        width: 50%;
    }

    i {
        font-size: 24px;
    }
}

@media(max-width:275px) {
    .navbar-nav {
        width: 45%;
    }
}