<nav class="navbar navbar-expand-md navbar-dark bg-primary" [ngClass]="isSideDrawerOpen ? 'sidenav-open' : 'navbar-sidenav-closed'">
  <div class="container collapse navbar-collapse">
    <div class="navbar-logo">
      <a class="" [routerLink]="['/home']">
        <img src="../../assets/caminder-logo.png" class="img-logo">
      </a>
    </div>

  

    <ul *ngIf="loggedIn()" class="navbar-nav ">
      <li class="nav-item" routerLinkActive="router-link-active">
        
          
        
        <a class="nav-link hover-text-container" [routerLink]="['/matches']" alt="Matches"> 
          
            <i class="fa fa-thumbs-up fa-2x"></i>
            <span class="hover-text">Matches & Likes</span>
          
        </a>
        
      </li>
      <li class="nav-item" routerLinkActive="router-link-active ">
        <a class="nav-link hover-text-container" [routerLink]="['/members']"> 
          <i class="fa fa-heart fa-2x "></i>
          <span class="hover-text">Find Your Match</span>
        </a>
        
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link hover-text-container" [routerLink]="['/messages']"    tabindex="-1" >
          <i class="fa fa-envelope fa-2x "></i>
          <span class="hover-text">Messages</span>
        </a>
        
      </li>
      <li *appHasRole="['Admin', 'Moderator']" class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link hover-text-container" [routerLink]="['/admin']"> 
          <i class="fa fa-users fa-2x "></i>
          <span class="hover-text">Admin Settings</span>
        </a>
        
      </li>
    </ul>

<!-- Dropdown Menu-->
    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" (click)="toggleSideDrawerEvent()" dropdownToggle aria-controls="dropdown-animated">
      <span>
        <img src="{{photoUrl || '../../../../assets/user.png'}}" class="img-avatar mr-2" alt="">
      </span>
      <span class="welcome-message">
        Welcome {{this.authService.decodedToken?.unique_name | titlecase}}!
      </span>
      </a>
    
    </div>

    <button *ngIf="!loggedIn()" class="sign-in-button btn btn-success my-2 my-sm-0" (click)="toggleTheSignInModal()"> {{signInModalToggled ? 'Close' : 'Sign In' }}</button>
    <form *ngIf="!loggedIn()" #loginForm='ngForm' class="form-inline my-2 my-lg-0 login-form" (ngSubmit)="login()">
      
      <input class="form-control mr-sm-2" type="text" 
      placeholder="Username" name="username" aria-label="Username" required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" 
      placeholder="Password" name="password" aria-label="Username" required [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  
  </div>
</nav>