<!-- <div class="text-center mt-3">
  <h2>Find your next match - {{pagination.totalItems}} found</h2>
</div> -->


<div class="container mt-2">
    
          
          <div class="card-container">
            <div *ngIf="users.length > 0" class="card-shadow"></div>
            <div  class="cards" *ngFor="let user of users"> <!--There 12 Grids in Bootstrap -->
              <!--lg for large, md medium screen, sm for small screen. The number represents how many grids an element takes up-->
              <app-member-card-detailed [user]="user" (skipCurrentUser)="skipCurrentUser($event)" (userLikedForItIsAMatch)="startItIsAMatch($event)"></app-member-card-detailed>
            </div>
            
            <div class="text-center no-more-users-text" *ngIf="users.length === 0">
              <h1>No more users available</h1>
              <h2>Please try again later</h2>
            </div>
          </div>
          <app-it-is-a-match [(show)]="showItIsAMatch" [userLiker]="user" [userLiked]="userLikedForItIsAMatch" (resetUserLiked)="resetUserLiked($event)"></app-it-is-a-match>
</div>

        <!-- <div class="d-flex justify-content-center">
          <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
          [(ngModel)]="pagination.currentPage"
          [itemsPerPage]="pagination.itemsPerPage"
          (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

        </pagination> 
  </div> -->

