table {
    margin-top: 15px;

}
.img-circle {
    max-height: 50px;
}

td {
    vertical-align: middle;
}

@media (max-width: 991px) {
    .messages-buttons, 
    .no-messages-text {
        justify-content: center;
    }
    }

.message-button {
    font-size: 1.2rem;
}