<div class="container mt-5">
  <div *ngIf="!registerMode && !learnMoreMode" style="text-align: center">
    <h1 class="mb-4">Find your match</h1>
    <img src="../../assets/lovender-logo-p.png"
    class="home-logo"
    [@heartAnimator]="animationState"
    (@heartAnimator.done)="resetAnimationState()"
    (click)="startAnimation('flipAround')">
    <p *ngIf="!this.authService.loggedIn()" class="lead mt-2"> Come on in to view your matches... All you need to do is sign up!</p>
    <p *ngIf="this.authService.loggedIn()" class="lead mt-2"> Welcome to Lovender! Click on Members tab to find your match</p>
    <div *ngIf="!this.authService.loggedIn()" class="text-center">
      <button class="btn btn-primary btn-lg mr-2"(click)="registerToggle()">Register</button>
      <button class="btn btn-info btn-lg" (click)="learnMoreToggle()" >Learn more</button>
    </div>
  </div>

<div *ngIf="learnMoreMode" class="container">
  <div class="row justify-content-center text-center mt-2">
    <app-learn-more (backToHome)="backToHomeFunction($event)"></app-learn-more>
  </div>
</div>


  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4 register-container card py-3" >
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>